.header {
    background-color: deepskyblue;
    border-bottom: 3px solid dodgerblue;
    border-radius: 5px;
    position: absolute;
    font-family: Georgia;
    color: white;
    text-align: center;
}

.footer {
    background-color:teal;
    border-top: 3px solid dodgerblue;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    padding: 0px 0px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Georgia;
}

div.page-main {
    background-color: wheat;
    padding: 30px 10px;
    border: 50px 10px solid cadetblue;
    border-radius: 5px;
}

.navbar-side {
    position: sticky;
    top: 600px;
}

ul .navbar-nav {
    text-align: center;
    display: table;
}

p.page-main {
    padding: 12px;
}