.header {
    background-color: deepskyblue;
    border-bottom: 3px solid dodgerblue;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-family: Georgia;
    color: white;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    background-color:teal;
    border-top: 3px solid dodgerblue;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    padding: 15px 5px 20px 5px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Georgia;
}

.changelog {
    padding-left: 20px;
}

div.page-main {
    background-color: wheat;
    padding: 35px 10px;
    border: 15px 10px solid cadetblue;
}

ul .navbar-nav {
    text-align: center;
    display: table;
}

p.page-main {
    padding: 10px;
    border: 3px solid dodgerblue;
    border-radius: 7px;
}

body.container-fluid {
    
}

.getCardBtn {
    padding-top: 10px;
    padding-left: 30px;
}